body{
    background-image: fixed; 
    background-size: cover;
}

.author{
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    border-radius: 4px;
    width: 20%;
    font-family: 'Caveat', cursive;
}

.desc{
    background-color: rgba(0, 0, 0, 0.267);
    color: white;  
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}