body{
    background-image: fixed; 
    background-size: cover;
}



p{
    color: white;
    text-shadow: 3px 3px 6px black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

.todos{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}