body {
    margin: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.author {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-family: 'Caveat', cursive;
    font-size: 23px;
}

.desc {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

.todo-list {
    font-family: 'Caveat', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 23px;
}

.todo-counter {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

#weather {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

button {
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a8a8a8), color-stop(1, #e8e8e8));
    background: -moz-linear-gradient(top, #a8a8a8 5%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #a8a8a8 5%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #a8a8a8 5%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #a8a8a8 5%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #a8a8a8 5%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8a8a8', endColorstr='#e8e8e8', GradientType=0);
    background-color: #a8a8a8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #050505;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}